
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Content for Interactive Data Science Fall 2018">
    <meta name="Cori Faklaris" content="">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte Tutorial</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Data Pipeline Project Byte Example (Astraptes dataset)</h1>
        <p>I was not able to get my preferred dataset to upload to Google Fusion Tables - maybe they stopped developing this product? </p>So I made up a question to go with the data used in the tutorial - which herbivore species are associated with which host plant species in the region in which the data was gathered? The data on location and host plant species that were recorded to have a link with the observation of the species in the dataset. </p>I have displayed the results on the web page.
        </p>Source of data: "Astraptes fulgerator" 
        Imported from astraptes_fulgerator_complex_sample_data (7).csv. 
Dan Janzen & Winnie Hallwachs - Edited on 2016 January 28</p>
      </div>

<h2>Map of where the species can be found:</h2>

<iframe width="500" height="300" scrolling="no" frameborder="no"
	src="https://fusiontables.google.com/embedviz?q=select+col12+from+1-941Px73b_XWWn3pmPHKp6WhbbSVNiEmKMadwe0&viz=MAP&h=false&lat=10.905796071399193&lng=-85.44281632812505&t=1&z=11&l=col12&y=45&tmplt=51&hml=TWO_COL_LAT_LNG"></iframe>
</p>
<h2>Network graph of the link between herbivore species and host plant species (weighted by elevation):</h2>
<iframe width="500" height="300" scrolling="no" frameborder="no" 
	src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=GRAPH&amp;gc=true&amp;gd=false&amp;sdb=1&amp;rmax=100000&amp;q=select+col0%2C+col5%2C+col9+from+1-941Px73b_XWWn3pmPHKp6WhbbSVNiEmKMadwe0&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=&amp;uiversion=2&amp;state=%7B%22ps%22%3A%221_a_-2h_-4_9_-24_-1d_5_2j_-1t_2_-12_r_g_27_-12_f_-3e_4_1_1p_-23_0_1h_-1e_m_h_2u_n_-2_31_8_-e_j_4_y_-2y_d_2b_1y_e_2v_1q_3_-e_13_c_3b_-1v_b_-15_1l_k_-2r_-39_7_-f_1j_i_-3_-31_h_-b_-2_j_2n_-32_6_-i_-3e_l_-t_-2r_%22%2C%22cx%22%3A0%2C%22cy%22%3A0%2C%22sw%22%3A478.8295361801627%2C%22sh%22%3A328.04917159577104%2C%22z%22%3A0%7D&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe>
      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
